*{
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    padding-top: 15vh;
}
#output {
    min-height: 50vh;
    max-width: 30%;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4vh 2%;
    font-family: "Quicksand", sans-serif;
    box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.55);
    background: linear-gradient(-45deg, #dfdfdf, #939393,#81c7e1, #66edcd);
    background-size: 500% 500%;
    animation: gradient 10s ease infinite;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
ul li{
    padding-bottom: 1vh;
    font-size: 1.1em;
}
ul li:nth-child(2){
    color: rgb(82, 94, 145);
    margin-left: 40px;
}
ul li:nth-child(2) span {
    display: block;
}
#output div:nth-of-type(1){
    padding: 0 5% 2vh 5%;
    text-align: center;
}
#output div:nth-of-type(1) h1 {
    font-size: 1.8em;
    text-transform: uppercase;
    padding-bottom: 2vh;
    letter-spacing: 5px;
}
#output div:nth-of-type(1) h1 span {
    font-size: 1.3em;
}
#output div:nth-of-type(1) h2 {
    font-size: 2.2em;
    color: rgba(82, 94, 145, 0.7);
    padding-bottom: 2vh;
}
#output div:nth-of-type(2) {
    margin: 0 auto;
}